:root {
  --color-sidebar-button: #000;
  --color-sidebar-button-hover: rgb(0 0 0 / 10%);
  --color-sidebar-button-active: rgb(0 0 0 / 20%);
}

:root[theme='dark'] {
  --color-sidebar-button: #fff;
  --color-sidebar-button-hover: rgb(255 255 255 / 10%);
  --color-sidebar-button-active: rgb(255 255 255 / 20%);
}

.left-sidebar-button {
  font-size: 0.9rem;
  width: 100%;
  height: 30px;
  border-radius: $app-border-radius;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 0.1rem;

  &:hover {
    background-color: var(--color-sidebar-button-hover);
    cursor: default;
  }

  &:active {
    background-color: var(--color-sidebar-button-active);
  }

  &__text {
    margin-left: 10px;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: var(--color-sidebar-button);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (height <= 449px) {
  .left-sidebar-button {
    justify-content: center;
  }
}
