:root {
  --color-sidebar-handle: #bdbdbd;
  --color-scrollbar-background: rgba(0, 0, 0, 0.4);
  --color-scrollbar-thumb: rgba(255, 255, 255, 0.4);
}

:root[theme='dark'] {
  --color-sidebar-handle: #5e5e5e;
  --color-scrollbar-background: #222222;
  --color-scrollbar-thumb: #41424c;
}

.leftSidebar {
  width: var(--app-sidebar-width);
  height: calc(100% - var(--app-footer-height));
  background-color: var(--app-left-sidebar-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 80px;
  padding-left: 10px;

  &__handle {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      background-color: var(--color-sidebar-handle);
      cursor: col-resize;
    }
  }

  .leftSidebar__buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
    overflow-x: hidden;

    &__inner {
      padding-right: 10px;
      &::-webkit-scrollbar {
        background-color: var(--color-scrollbar-background);
        z-index: 999;
        width: 8px;
        border-radius: 4px;

        &-thumb {
          background-color: var(--color-scrollbar-thumb);
          border-radius: 4px;
        }
      }
    }
  }
}

@media screen and (max-height: 423px) {
  .leftSidebar {
    padding-inline: 0;
  }

  .leftSidebar__buttons {
    vertical-align: center;
  }
}
