:root {
  --skeleton-background-color: rgba(0, 0, 0, 0.1);
  --skeleton-background-color-2: rgba(0, 0, 0, 0.2);
}

:root[theme='dark'] {
  --skeleton-background-color: rgba(255, 255, 255, 0.1);
  --skeleton-background-color-2: rgba(255, 255, 255, 0.2);
}

.skeletonItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

.skeletonAvatar {
  width: 40px;
  height: 40px;
  background-color: var(--skeleton-background-color);
  border-radius: 50%;
  margin-right: 10px;
}

.skeletonText {
  height: 10px;
  background-color: var(--skeleton-background-color);
  flex-grow: 1;
  margin-right: 10px;

  &:last-child {
    width: 60%;
  }
}

// Shimmer effect
@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }
  100% {
    background-position: 40rem 0;
  }
}

[class*='skeleton'] {
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: linear-gradient(
    to right,
    var(--skeleton-background-color) 4%,
    var(--skeleton-background-color-2) 25%,
    var(--skeleton-background-color) 36%
  );
  background-size: 1000px 104px;
  position: relative;
}
