.skeleton-item {
  --size: 14cqw;
  --min-size: 160px;
  --max-size: 200px;

  display: flex;
  position: relative;
  flex-direction: column;
  width: var(--size);
  max-width: var(--max-size);
  min-width: var(--min-size);
  height: var(--size);
  max-height: var(--max-size);
  min-height: var(--min-size);
  border-radius: $app-border-radius;
  animation: shimmer 1.2s linear infinite forwards;
}

.skeleton-artwork {
  position: relative;
  width: var(--size);
  height: var(--size);
  max-width: var(--max-size);
  max-height: var(--max-size);
  min-width: var(--min-size);
  min-height: var(--min-size);
  object-fit: cover;
  border-radius: $app-border-radius;
  user-select: none;
}

.skeleton-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: $app-border-radius;
}

.skeleton-title,
.skeleton-artist {
  height: 10px;
  background-color: var(--skeleton-background-color);
  border-radius: $app-border-radius;

  &:last-child {
    width: 60%;
  }
}

.skeleton-title {
  width: 80%;
}

.skeleton-artist {
  width: 40%;
}

// Shimmer effect
@keyframes shimmer {
  0% {
    background-position: -40rem 0;
  }

  100% {
    background-position: 40rem 0;
  }
}

[class*='skeleton'] {
  background: linear-gradient(
    to right,
    var(--skeleton-background-color) 4%,
    var(--skeleton-background-color-2) 25%,
    var(--skeleton-background-color) 36%
  );
  background-size: 1000px 104px;
  position: relative;
}
