@import '../../styles/mixins/mixins';

$width-offset: 2.5rem;
$padding: 0.5rem;

.media-list {
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;

  thead {
    display: table;
    position: fixed;
    background-color: var(--color-main-bg);
    width: calc(100% - #{$width-offset});
    text-align: left;

    &::after {
      content: '';
      display: block;
      width: 15px;
      height: 33px;
      background-color: var(--color-main-bg);
      position: absolute;
      left: 100%;
      z-index: -1;
      top: 0;
      right: 0;
    }
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  th {
    padding-bottom: $padding;
    color: var(--color-on-main-muted);
  }

  th,
  td {
    text-align: left;
    font-size: $font-size-small;
  }

  tbody {
    display: block;
    height: 100%;
    margin-top: 2rem;
    width: 100%;
    font-size: $font-size-small;

    tr {
      &:hover {
        background-color: var(--table-hover-color) !important;
      }
    }

    tr:nth-child(even) {
      background-color: var(--table-even-color);
    }
  }
}

.media-list th:nth-child(1),
.media-list td:nth-child(1) {
  span {
    @include webkit-line-clamp(1);

    word-break: break-all;
  }
}

.media-list th:nth-child(2),
.media-list td:nth-child(2) {
  width: 30%;
  color: var(--color-on-primary-muted);
}

.media-list td:nth-child(2) {
  span {
    @include webkit-line-clamp(1);
  }

  padding-right: 1.5rem;
}

.media-list th:nth-child(3),
.media-list td:nth-child(3) {
  width: 20%;
  color: var(--color-on-primary-muted);
  padding-right: 0.5rem;
}

.media-list th:nth-child(4),
.media-list td:nth-child(4) {
  width: 20%;
  color: var(--color-on-primary-muted);
  padding-right: 0.5rem;
}

.song-time-header-class {
  width: 70px !important;
}

@media (width <= 1000px) {
  .song-artist-header-class {
    display: none !important;
  }

  .song-album-header-class {
    display: none !important;
  }

  .song-time-header-class {
    width: 70px !important;
  }
}
