.song-table-item {
  &:hover {
    background-color: var(--table-hover-color) !important;

    .songTableItem__number__playButton {
      display: flex;
    }

    .songTableItem__number__number {
      visibility: hidden;
    }

    .songTableItem__time__moreButton {
      display: flex;
    }

    .songTableItem__time span {
      visibility: hidden;
    }
  }

  &__album {
    max-width: max-content;
    cursor: default;

    &__link {
      font-size: 0.9rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
      max-width: max-content;
      margin-right: 1rem;
      color: var(--color-on-main-muted);
      cursor: default;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__number {
    padding-left: 1.5rem;
    position: relative;

    &__popularity {
      position: absolute;
      top: 12px;
      left: -2px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
    }

    &__playButton {
      top: 12px;
      left: 14px;
      position: absolute;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      display: none;
    }
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    gap: 1rem;
    padding-right: 1rem;

    &__name__artist {
      &__name {
        padding-top: 0.4rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        max-width: max-content;

        &__explicit__text {
          font-weight: 500;
          font-size: 0.8rem;
          color: var(--color-on-main-muted);
          padding-bottom: 0.2rem;
          padding-left: 0.2rem;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          width: 100%;
          max-width: max-content;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__artist {
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--color-on-main-muted);
        padding-bottom: 0.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        max-width: max-content;
        cursor: default;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__albumCover {
      img {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        border-radius: $app-border-radius;
        object-fit: cover;
      }
    }
  }

  &__time {
    padding-right: 1rem;
    font-size: 0.8rem;
    color: var(--color-on-main-muted);
    text-align: right;
    position: relative;

    &__moreButton {
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 1rem;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: -6px;
      right: 10px;
      display: none;
    }
  }
}

@container main (max-width: 540px) {
  .songTableItem__album {
    display: none;
  }

  .songTableItem {
    padding: 0;
    padding-top: 1.5rem;

    &__number {
      font-size: 0.8rem;

      &__popularity {
        top: 12px;
        left: -1px;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }

      &__playButton {
        top: 12px;
        left: 16px;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &__title {
      &__name__artist {
        &__name {
          font-size: 0.8rem;
        }

        &__artist {
          font-size: 0.7rem;
        }
      }

      &__albumCover {
        img {
          width: 30px;
          height: 30px;
          min-width: 30px;
          min-height: 30px;
        }
      }
    }

    &__time {
      font-size: 0.7rem;

      &__moreButton {
        top: -4px;
        right: 8px;
        padding: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
