:root {
  --link-background-color: #dadada;
  --link-background-color-hover: #c0c0c0;
}

:root[theme='dark'] {
  --link-background-color: #222;
  --link-background-color-hover: #444;
}

.link-item {
  display: flex;
  padding: 0.8rem 1rem;
  border-radius: $app-border-radius;
  background-color: var(--link-background-color);
  max-width: max-content;
  transition: background-color $transition-fast ease-in-out;

  &:hover {
    cursor: default;
    background-color: var(--link-background-color-hover);
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
  }
}
