.playlists {
  font-family: Inter, sans-serif;
  color: var(--color-on-primary);
  overflow-y: overlay;

  &__grid {
    display: flex;
    gap: 24px;
    margin-top: 1.2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;

    :nth-child(3) {
      margin-right: 0.5rem;
    }
  }
}
