.primaryButton {
  background-color: var(--app-primary-color);
  border-radius: 4px;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.4rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  cursor: default;

  &__icon {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: var(--app-primary-color-hover);
  }

  &:active {
    background-color: var(--app-primary-color-active);
  }
}
