@import '../../../../../styles/mixins/mixins';
@import '../../../../../styles/mixins/font-mixins';

:root {
  --background-color: #e0e0e0;
  --description-color: #525252;
  --extra-info-item-color: #000;
}

:root[theme='dark'] {
  --background-color: #000;
  --description-color: #9c9c9c;
  --extra-info-item-color: #fff;
}

.artist-info-pane {
  background-color: var(--background-color);
  padding: 1.5rem;

  &__header {
    @include heading-style(1.5rem);
  }

  &__info {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
  }
}
