:root {
  --contextmenu-background: rgba(204, 204, 204, 0.8);
  --contextmenu-color: #000;
}

:root[theme='dark'] {
  --contextmenu-background: rgba(39, 39, 39, 0.8);
  --contextmenu-color: #fff;
}

.contextMenu {
  position: absolute;
  z-index: 100000;
  background: var(--contextmenu-background);
  border-radius: 4px;
  padding: 0.5rem;
  color: var(--contextmenu-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  min-width: 150px;
}

.contextMenu__subContextMenu {
  position: absolute;
  z-index: 100;
  background: var(--contextmenu-background);
  border-radius: 4px;
  padding: 0.5rem 0;
  color: var(--contextmenu-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  overflow-y: auto;
  height: 200px;
  top: 0;
  left: 100%;
  width: 100%;
}

.contextMenu__quick__item {
  padding: 0.4rem;
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.contextMenu__item {
  padding: 0.2rem 0.5rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__subMenuIcon {
    margin-left: auto;
  }

  &__label {
    vertical-align: top;
    display: inline-block;
    margin-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.quickActions {
  display: flex;
  flex-direction: row;
}
