:root {
  --table-hover-color: rgba(0, 0, 0, 0.1);
  --table-even-color: rgba(0, 0, 0, 0.05);
}

:root[theme='dark'] {
  --table-hover-color: rgba(255, 255, 255, 0.1);
  --table-even-color: rgba(255, 255, 255, 0.05);
}

.album__tracks {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--app-text-color);
  border-radius: var(--app-border-radius);

  &__table {
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 0;

    th {
      font-weight: 600;
      font-size: 0.9rem;
      text-align: left;
      padding-bottom: 0.5rem;
      color: var(--app-text-light-color);
      background-color: transparent !important;

      &.album__tracks__table__number {
        width: 60px;
      }

      &.album__tracks__table__time {
        text-align: right;
      }
    }

    tbody tr {
      &:hover {
        background-color: var(--table-hover-color) !important;

        .album__tracks__table__number__playButton {
          display: flex;
        }

        .album__tracks__table__number__number {
          visibility: hidden;
        }

        .album__tracks__table__time__moreButton {
          display: flex;
        }

        .album__tracks__table__time span {
          visibility: hidden;
        }
      }

      &:nth-child(even) {
        background-color: var(--table-even-color);
      }
    }

    &__album {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
      max-width: max-content;
      margin-right: 1rem;

      &:hover {
        cursor: default;
        text-decoration: underline;
      }
    }

    &__number {
      padding-left: 1.5rem;
      position: relative;

      &__popularity {
        position: absolute;
        top: 14px;
        left: -2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
      }

      &__playButton {
        top: 14px;
        left: 14px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        display: none;
      }
    }

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-shrink: 0;
      gap: 1rem;
      padding-right: 1rem;

      &__name__artist {
        &__name {
          padding-top: 0.4rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          width: 100%;
          max-width: max-content;
        }

        &__artist {
          font-weight: 500;
          font-size: 0.9rem;
          color: var(--app-text-light-color);
          padding-bottom: 0.2rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          width: 100%;
          max-width: max-content;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__albumCover {
        img {
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
          border-radius: var(--app-border-radius);
          object-fit: cover;
        }
      }
    }

    &__time {
      padding-right: 1rem;
      font-size: 0.8rem;
      color: var(--app-text-light-color);
      text-align: right;
      position: relative;

      &__moreButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: -6px;
        right: 10px;
        display: none;
      }
    }
  }
}

@container main (max-width: 540px) {
  th {
    .album__tracks__table__album {
      display: none;
    }
  }

  td {
    .album__tracks__table__album {
      display: none;
    }
  }

  .album__tracks {
    padding: 1rem;

    &__table {
      th {
        font-size: 0.8rem;
      }

      &__album {
        display: none;
      }

      &__number {
        font-size: 0.8rem;

        &__popularity {
          top: 12px;
          left: -1px;
          padding: 0.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }

        &__playButton {
          top: 12px;
          left: 16px;
          padding: 0.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &__title {
        &__name__artist {
          &__name {
            font-size: 0.8rem;
          }

          &__artist {
            font-size: 0.7rem;
          }
        }

        &__albumCover {
          img {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
          }
        }
      }

      &__time {
        font-size: 0.7rem;

        &__moreButton {
          top: -4px;
          right: 8px;
          padding: 0.5rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
