@import '../../styles/mixins/mixins';

.artists {
  font-family: Inter, sans-serif;
  color: var(--color-on-primary);
  height: calc(100% - 3.6rem);
  display: flex;
  flex-direction: row;
  overflow: visible;

  &-actions {
    @include flex-layout(row, flex-end, flex-end, 0.2rem);
  }
}
