@import '../../../../styles/mixins/mixins';

.media-list-item {
  &-detail {
    padding-block: 0.3rem;
    padding-left: 0.5rem;

    img {
      border-radius: $app-border-radius;
      max-width: 50px;
      max-height: 50px;
    }

    @include flex-layout(row, flex-start, center, 1rem);
  }

  &-more {
    position: absolute;
    right: 12px;
    top: 10px;
    display: none;
  }

  &:hover {
    .media-list-item-more {
      display: block;
    }
  }

  .media-list-item-detail-title-text {
    @include webkit-line-clamp(1);

    margin-right: 1.5rem;
    max-width: max-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .media-list-item-artist-name-text {
    @include webkit-line-clamp(1);

    color: var(--color-on-primary-muted);
    max-width: max-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .media-list-item-title-text {
    @include webkit-line-clamp(1);

    max-width: max-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.time-style {
  width: 70px !important;
}

.artist-small-text {
  font-size: $font-size-xsmall;
}

.position-override {
  top: 18px !important;
}
