:root {
  --color-topbar-button: #000000;
  --color-topbar-button-hover: rgba(0, 0, 0, 0.1);
  --color-topbar-button-active: rgba(0, 0, 0, 0.2);
}

:root[theme='dark'] {
  --color-topbar-button: #fff;
  --color-topbar-button-hover: rgba(255, 255, 255, 0.1);
  --color-topbar-button-active: rgba(255, 255, 255, 0.2);
}

.topbarButton {
  font-size: 0.9rem;
  width: 100%;
  height: 30px;
  border-radius: $app-border-radius;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 0.1rem;

  &:hover {
    background-color: var(--color-topbar-button-hover);
    cursor: default;
  }

  &:active {
    background-color: var(--color-topbar-button-active);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
