@import '../../styles/mixins/mixins.scss';

.topbar {
  @include flex-layout(row, flex-start, center, 0);
  position: fixed;
  top: 0;
  height: $app-toolbar-height;
  color: var(--color-on-primary);

  &__buttons {
    display: inline-flex;
    padding-left: 0.3rem;
  }
}
