.right-sidebar-button {
  width: 30px;
  height: 30px;
  border-radius: $app-border-radius;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  z-index: 100;

  &:hover {
    background-color: rgb(255 255 255 / 20%);
    cursor: default;
  }

  &:active {
    background-color: rgb(0 0 0 / 10%);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $color-white;
  }
}
