.rightSidebar {
  width: var(--app-sidebar-width);
  height: calc(100% - var(--app-footer-height));
  background-color: #7dadaf;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 40px;

  .rightSidebar__buttons {
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-right: 5px;
    flex-direction: column;
    overflow-y: overlay;
    overflow-x: hidden;
    row-gap: 0.3rem;
  }
}

@media screen and (max-height: 423px) {
  .rightSidebar {
    padding-inline: 0;
  }

  .rightSidebar__buttons {
    vertical-align: center;
  }
}
