.rightSidebarButton {
  width: 30px;
  height: 30px;
  border-radius: var(--app-border-radius);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  z-index: 100;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: default;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--color-white);
  }
}
