:root {
  --artwork-background-color: #e0e0e0;
}

:root[theme='dark'] {
  --artwork-background-color: #000000;
}

.artist {
  color: var(--color-on-primary);
  --height: 60cqh;
  max-width: 100%;

  &__artwork {
    position: relative;
    height: var(--height);
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    background-color: var(--artwork-background-color);

    &__gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 10%, transparent 30%);
    }

    &__image {
      height: 100% !important;
      width: 100% !important;
      aspect-ratio: 1;
      object-fit: cover;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      display: none;
    }

    &__info {
      position: absolute;
      width: 100%;
      bottom: 0.5rem;
      left: 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__title {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
        position: absolute;
        left: 3.5rem;
        bottom: 0rem;
        color: $color-white;
        max-width: 65%;
      }

      &__playButton {
        position: absolute;
        bottom: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-overlay-bg;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
        border-radius: 50%;
        padding: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        transition: background-color $transition-fast ease-in-out;
        background-color: var(--color-primary);
        cursor: default;
        z-index: 1;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        &:hover {
          background-color: var(--color-primary-hover);
        }

        &:active {
          transition: background-color 0s ease-in-out;
          background-color: var(--color-primary-active);
        }
      }

      &__actions {
        position: absolute;
        right: 3rem;
        bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        &__button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color-overlay-bg;
          border-radius: 50%;
          padding: 1rem;
          width: 2rem;
          height: 2rem;
          transition: background-color $transition-fast ease-in-out;
          cursor: default;

          &:hover {
            background-color: var(--color-primary);
          }
        }
      }
    }
  }

  &__content {
    margin-top: 1.5rem;
  }
}

@container main (max-width: 540px) {
  .artist {
    &__artwork {
      &__info {
        height: 100%;

        &__playButton {
          right: 3rem;
        }

        &__title {
          left: 0rem;
        }

        &__actions {
          top: 1rem;
        }
      }
    }
  }
}

.loaded {
  display: flex;
}
