.mediaInfo {
  --size: 200px;
  display: flex;

  &__artwork {
    border-radius: var(--app-border-radius);
    width: var(--size);
    height: var(--size);
  }

  &__info {
    margin-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    &__actions {
      display: flex;

      &__playButton {
        margin-right: 10px;
      }
    }

    &__text {
      margin-top: auto;
      margin-bottom: auto;

      &__title {
        font-weight: 600;
        font-size: 1.2rem;
      }

      &__artist {
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--app-primary-color);
        width: 100%;
        max-width: max-content;

        &:hover {
          text-decoration: underline;
        }
      }

      &__genre {
        font-weight: 500;
        font-size: 0.8rem;
        color: var(--app-text-light-color);
      }
    }
  }
}
