.mediaInfo {
  --size: 200px;
  display: flex;

  &__artwork {
    border-radius: var(--app-border-radius);
    width: var(--size);
    height: var(--size);
  }

  &__artwork__video {
    aspect-ratio: 1.7;
    border-radius: var(--app-border-radius);
  }

  &__info {
    margin-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    &__actions {
      display: flex;

      &__playButton {
        margin-right: 10px;
      }
    }

    &__text {
      margin-top: auto;
      margin-bottom: auto;

      &__title {
        font-weight: 600;
        font-size: 1.2rem;
      }

      &__artist {
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--app-primary-color);
        width: 100%;
        max-width: max-content;

        &:hover {
          text-decoration: underline;
        }
      }

      &__genre {
        font-weight: 500;
        font-size: 0.8rem;
        color: var(--app-text-light-color);
      }
    }
  }
}

@container main (max-width: 540px) {
  .mediaInfo {
    &__artwork {
      width: 150px;
      height: 150px;
    }

    &__artwork__video {
      width: 250px;
      height: 150px;
    }
  }

  .mediaInfo__info {
    margin-left: 1rem;
    padding-right: 1rem;

    &__text {
      &__title {
        font-size: 1rem;
      }

      &__artist {
        font-size: 0.8rem;
      }

      &__genre {
        font-size: 0.7rem;
      }
    }
  }

  .mediaInfo__info__actions {
    &__playButton {
      padding: 0.5rem;
      font-size: 0.8rem;
    }

    &__shuffleButton {
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

@container main (max-width: 360px) {
  .mediaInfo {
    display: flex;
    flex-direction: column;
  }

  .mediaInfo__artwork {
    width: 100%;
    height: 100%;
  }

  .mediaInfo__info__text__artist {
    margin-inline: auto;
  }

  .mediaInfo__info {
    margin-left: 0;
    padding-right: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__actions {
      margin-top: 0.5rem;

      &__playButton {
        margin-right: 0;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
      }

      &__shuffleButton {
        margin-bottom: 1rem;
      }
    }
  }
}
