@use 'sass:color';

// app variables
$app-toolbar-height: 40px;
$app-sidebar-width: 200px;
$app-border-radius: 8px;
$app-footer-height: 70px;

// ui colors
$color-scrollbar-bg: #e4e4e4;
$color-scrollbar-thumb: #c7c7c7;
$color-overlay-bg: rgb(0 0 0 / 50%);

// ui dark colors
$color-scrollbar-bg-dark: #222;
$color-scrollbar-thumb-dark: #41424c;

// light theme
$color-main-bg: #fff;
$color-main-bg-muted: #f7f7f8;
$color-main-bg-muted-2: color.adjust($color-main-bg-muted, $lightness: -5%);
$color-primary: #9ecece;
$color-primary-hover: color.adjust($color-primary, $lightness: 10%);
$color-primary-active: color.adjust($color-primary, $lightness: -10%);
$color-on-main: #000;
$color-on-main-muted: #838383;
$color-on-primary: #000;
$color-on-primary-muted: #838383;

// dark theme
$color-main-bg-dark: #070707;
$color-main-bg-muted-dark: #252525;
$color-main-bg-muted-dark-2: color.adjust($color-main-bg-muted-dark, $lightness: 5%);
$color-primary-dark: #6b8f8f;
$color-primary-hover-dark: color.adjust($color-primary-dark, $lightness: 10%);
$color-primary-active-dark: color.adjust($color-primary-dark, $lightness: -10%);
$color-on-main-dark: #fff;
$color-on-main-muted-dark: #838383;
$color-on-primary-dark: #fff;
$color-on-primary-muted-dark: #838383;

// general colors
$color-black: #000;
$color-white: #fff;
$color-off-white: #f7f7f8;
$color-off-white-muted: #e4e4e4;
$color-off-white-muted-2: #c7c7c7;
$color-link-active: rgba($color-white, 0.2);

// gap variables
$gap-xxsmall: 0.25rem;
$gap-xsmall: 0.5rem;
$gap-small: 1rem;
$gap-medium: 1.5rem;
$gap-large: 2rem;
$gap-xlarge: 2.5rem;
$gap-xxlarge: 3rem;

// box-shadow variables
$box-shadow-soft-1: 0 1px 5px rgb(0 0 0 / 5%);
$box-shadow-soft-2: 0 2px 10px rgb(0 0 0 / 7%);
$box-shadow-soft-3: 0 4px 15px rgb(0 0 0 / 10%);
$box-shadow-top: 0 -4px 6px rgb(0 0 0 / 10%);
$box-shadow-right: 4px 0 6px rgb(0 0 0 / 10%);
$box-shadow-bottom: 0 4px 6px rgb(0 0 0 / 10%);
$box-shadow-left: -4px 0 6px rgb(0 0 0 / 10%);
$box-shadow-inset: inset 0 2px 4px rgb(0 0 0 / 10%);
$box-shadow-focus: 0 0 0 3px rgb(50 50 93 / 40%);
$box-shadow-hover: 0 4px 14px rgb(0 0 0 / 15%);

// z-index variables
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;

// font variables
$font-family: 'Inter', sans-serif;
$font-size: 1rem;
$font-size-xxsmall: 0.7rem;
$font-size-xsmall: 0.8rem;
$font-size-small: 0.9rem;
$font-size-large: 1.2rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-xbold: 900;

// margin variables
$margin-xxsmall: 0.25rem;
$margin-xsmall: 0.5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;
$margin-xlarge: 2.5rem;
$margin-xxlarge: 3rem;

// padding variables
$padding-xxsmall: 0.25rem;
$padding-xsmall: 0.5rem;
$padding-small: 1rem;
$padding-medium: 1.5rem;
$padding-large: 2rem;
$padding-xlarge: 2.5rem;
$padding-xxlarge: 3rem;

// transition variables
$transition-fast: 0.3s;
$transition-medium: 0.5s;
$transition-slow: 1s;

// breakpoints
$breakpoint-small: 540px;
$breakpoint-medium: 720px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1140px;
$breakpoint-xxlarge: 1320px;
