// app variables
$app-toolbar-height: 40px;
$app-sidebar-width: 200px;
$app-border-radius: 8px;
$app-footer-height: 70px;

// ui colors
$color-scrollbar-bg: #e4e4e4;
$color-scrollbar-thumb: #c7c7c7;
$color-overlay-bg: rgba(0, 0, 0, 0.5);

// ui dark colors
$color-scrollbar-bg-dark: #222222;
$color-scrollbar-thumb-dark: #41424c;

// light theme
$color-main-bg: #fff;
$color-main-bg-muted: #f7f7f8;
$color-primary: #9ecece;
$color-primary-hover: lighten($color-primary, 10%);
$color-primary-active: darken($color-primary, 10%);
$color-on-main: #000;
$color-on-main-muted: #838383;
$color-on-primary: #000;
$color-on-primary-muted: #838383;

// dark theme
$color-main-bg-dark: #070707;
$color-main-bg-muted-dark: #252525;
$color-primary-dark: #6b8f8f;
$color-primary-hover-dark: lighten($color-primary-dark, 10%);
$color-primary-active-dark: darken($color-primary-dark, 10%);
$color-on-main-dark: #fff;
$color-on-main-muted-dark: #838383;
$color-on-primary-dark: #fff;
$color-on-primary-muted-dark: #838383;

// general colors
$color-black: #000;
$color-white: #fff;
$color-off-white: #f7f7f8;
$color-off-white-muted: #e4e4e4;
$color-off-white-muted-2: #c7c7c7;
$color-link-active: rgba($color-white, 0.2);

// font variables
$font-family: 'Inter', sans-serif;
$font-size: 1rem;
$font-size-xsmall: 0.8rem;
$font-size-small: 0.9rem;
$font-size-large: 1.2rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-xbold: 900;

// margin variables
$margin-xxsmall: 0.25rem;
$margin-xsmall: 0.5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;
$margin-xlarge: 2.5rem;
$margin-xxlarge: 3rem;

// padding variables
$padding-xxsmall: 0.25rem;
$padding-xsmall: 0.5rem;
$padding-small: 1rem;
$padding-medium: 1.5rem;
$padding-large: 2rem;
$padding-xlarge: 2.5rem;
$padding-xxlarge: 3rem;

// transition variables
$transition-fast: 0.3s;
$transition-medium: 0.5s;
$transition-slow: 1s;

// breakpoints
$breakpoint-small: 540px;
$breakpoint-medium: 720px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1140px;
$breakpoint-xxlarge: 1320px;
