@tailwind base;
@tailwind components;
@tailwind utilities;
@import './mixins/font-mixins';
@import './mixins/mixins';

:root {
  --color-primary: #{$color-primary};
  --color-primary-hover: #{$color-primary-hover};
  --color-primary-active: #{$color-primary-active};
  --color-main-bg: #{$color-main-bg};
  --color-main-bg-muted: #{$color-main-bg-muted};
  --color-on-primary: #{$color-on-primary};
  --color-on-primary-muted: #{$color-on-primary-muted};
  --color-on-main: #{$color-on-main};
  --color-on-main-muted: #{$color-on-main-muted};
  --color-link-active: #{$color-link-active};

  --color-scrollbar-bg: #{$color-scrollbar-bg};
  --color-scrollbar-thumb: #{$color-scrollbar-thumb};

  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-off-white: #{$color-off-white};
}

:root[theme='dark'] {
  --color-primary: #{$color-primary-dark};
  --color-primary-hover: #{$color-primary-hover-dark};
  --color-primary-active: #{$color-primary-active-dark};
  --color-main-bg: #{$color-main-bg-dark};
  --color-main-bg-muted: #{$color-main-bg-muted-dark};
  --color-on-primary: #{$color-on-primary-dark};
  --color-on-primary-muted: #{$color-on-primary-muted-dark};
  --color-on-main: #{$color-on-main-dark};
  --color-on-main-muted: #{$color-on-main-muted-dark};

  --color-scrollbar-bg: #{$color-scrollbar-bg-dark};
  --color-scrollbar-thumb: #{$color-scrollbar-thumb-dark};
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--color-main-bg);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 16px;
  border-radius: $app-border-radius;
  overflow: hidden;
}

.appContainer[right-drawer='true'] .main {
  right: 250px !important;
}

.active {
  background-color: $color-link-active;
}

.hidden {
  display: none;
}

h1 {
  @include heading-style(2rem);
}

h2 {
  @include heading-style(1.5rem);
}

h3 {
  @include heading-style(1.25rem);
}

h4 {
  @include heading-style(1rem);
}

h5 {
  @include heading-style(0.9rem);
}

* {
  @include custom-scrollbar;
}

.expanded {
  -webkit-line-clamp: unset !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.linkItemContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  padding: 1.5rem;
}
