@import '../../styles/mixins/mixins';
@import '../../styles/mixins/font-mixins';

.curator-item {
  --size: 14cqw;
  --min-size: 160px;
  --max-size: 200px;

  @include flex-layout(column, unset, flex-start);

  border-radius: $app-border-radius;

  &__info {
    &__name {
      @include font-style(0.9rem);

      margin-top: 0.4rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
      max-width: max-content;
      cursor: default;
    }

    &__curator {
      color: #a0a0a0;
      font-size: 0.8rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 100%;
      max-width: max-content;
    }
  }

  &__image {
    position: relative;
    border-radius: $app-border-radius;

    img {
      border-radius: $app-border-radius;
      position: relative;
      width: var(--size);
      height: var(--size);
      max-width: var(--max-size);
      max-height: var(--max-size);
      min-width: var(--min-size);
      min-height: var(--min-size);
      object-fit: cover;
      user-select: none;
    }
  }
}
