:root {
  --scrollbar-background-color: #e4e4e4;
  --thumb-background-color: #c7c7c7;
}

:root[theme='dark'] {
  --scrollbar-background-color: #191a1f;
  --thumb-background-color: #40424d;
}

.main {
  position: fixed;
  inset: $app-toolbar-height 40px 0 0;
  margin-bottom: $app-footer-height;
  overflow: hidden auto;
  container-type: size;
  container-name: main;
}
