:root {
  --scrollbar-background-color: #e4e4e4;
  --thumb-background-color: #c7c7c7;
}

:root[theme='dark'] {
  --scrollbar-background-color: #191a1f;
  --thumb-background-color: #40424d;
}

.main {
  position: fixed;
  right: 40px;
  bottom: 0;
  top: var(--app-toolbar-height);
  left: 0;
  margin-bottom: var(--app-footer-height);
  overflow-y: auto;
  container-type: size;
  container-name: main;
  overflow-x: hidden;
}
