@import '../../../../../../styles/mixins/font-mixins';
@import '../../../../../../styles/mixins/mixins';

.artist-detail {
  @include flex-layout(column, flex-start, flex-start);

  &__title {
    color: var(--description-color);
    font-size: 0.9rem;
  }

  &__description {
    color: var(--extra-info-item-color);
    font-size: 0.9rem;
  }
}
