@import '../../styles/mixins/settings-mixins';

.settings {
  color: var(--app-text-color);
  padding-inline: 1.5rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__button {
    @include settings-button;
  }
}
