@import '../../styles/mixins/settings-mixins';

.settings {
  color: var(--color-on-primary);
  padding-inline: 1.5rem;
  max-width: 1000px;

  &__title {
    margin-bottom: 1rem;
  }

  &__button {
    @include settings-button;
  }
}
