.nowPlayingTile {
  height: 100%;
  width: auto;
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;

  .albumCover {
    img {
      max-height: 50px;
      max-width: 50px;
      min-height: 50px;
      min-width: 50px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .songInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    color: var(--color-white);
    padding-left: 10px;
    justify-content: flex-start;
    text-align: left;
    padding-right: 60px;

    &__title {
      font-size: 1rem;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: max-content;
      align-self: flex-start;
      justify-self: flex-start;
      text-align: left;
      max-width: 100%;

      &:hover {
        cursor: default;
        text-decoration: underline;
      }
    }

    &__artist {
      font-size: 0.8rem;
      font-weight: 400;
      width: max-content;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      align-self: flex-start;
      justify-self: flex-start;
      max-width: 100%;

      &:hover {
        cursor: default;
        text-decoration: underline;
      }
    }
  }
}
