.video-item {
  &__thumbnail {
    position: relative;

    &__overlay {
      width: 100%;
      height: 100%;
      background-color: $color-overlay-bg;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $app-border-radius;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      opacity: 0;
      transition: opacity $transition-fast ease-in-out;
      padding: 0.6rem 0.5rem;

      &__playButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-overlay-bg;
        border-radius: 50%;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        transition: background-color $transition-fast ease-in-out;

        &:hover {
          background-color: var(--color-primary);
        }
      }

      &__moreButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-overlay-bg;
        border-radius: 50%;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        transition: background-color $transition-fast ease-in-out;

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }

    img {
      border-radius: $app-border-radius;
      width: 100%;
      height: 100%;
      min-width: 14rem;
      min-height: 7rem;
      max-width: 14rem;
      max-height: 7rem;
    }
  }

  &:hover {
    cursor: default;

    .video-item__thumbnail__overlay {
      opacity: 1;
    }
  }

  &__info {
    position: relative;
    max-width: 100%;

    &__title {
      margin-top: 0.3rem;
      font-size: 0.8rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: max-content;
      max-width: 100%;
      max-width: 14rem;
    }
  }
}
