:root {
  --color-searchbar-bg: #bdbdbd;
}

:root[theme='dark'] {
  --color-searchbar-bg: #f4f4f4;
}

.searchbar {
  width: 200px;
  height: 30px;
  outline: none;
  padding-inline: 5px;
  background-color: var(--color-searchbar-bg);
  margin-inline: auto;
  color: var(--color-on-primary);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 5px;
  border-bottom: 1px solid transparent;
  border-radius: $app-border-radius;

  &:focus {
    border-bottom: 1px solid var(--color-primary);
  }
}
