.searchbar {
  width: 200px;
  height: 30px;
  outline: none;
  padding-inline: 5px;
  background-color: var(--app-searchbar-background-color);
  margin-inline: auto;
  color: var(--app-text-color);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 5px;
  border-bottom: 1px solid transparent;
  border-radius: var(--app-border-radius);

  &:focus {
    border-bottom: 1px solid var(--app-primary-color);
  }
}
