$sub-context-menu-min-width: 150px;

.subContextMenu {
  position: absolute;
  z-index: $z-index-10;
  border-radius: $app-border-radius;
  padding: $padding-xxsmall / 1.5 $padding-xsmall / 1.5;
  color: var(--color-on-main);
  box-shadow: $box-shadow-soft-3;
  min-width: $sub-context-menu-min-width;
  background: var(--color-main-bg);
  border: 1px solid var(--color-main-bg-muted);
}
