:root {
  --library-button-hover-color: rgb(0 0 0 / 20%);
  --library-button-active-color: rgb(0 0 0 / 30%);
}

:root[theme='dark'] {
  --library-button-hover-color: rgb(255 255 255 / 20%);
  --library-button-active-color: rgb(255 255 255 / 30%);
}

.library-button {
  width: 25px;
  height: 25px;
  border-radius: $app-border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;

  &:hover {
    background-color: var(--library-button-hover-color);
  }

  &:active {
    background-color: var(--library-button-active-color);
  }
}
