.miniPlayer {
  width: 325px;
  height: 325px;
  max-width: 325px;
  max-height: 325px;
  background-color: var(--app-primary-color);
  overflow: hidden;

  &__bottomPane {
    background-color: var(--app-primary-color);
    width: 100%;
    height: 375px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
  }

  &__exitButton {
    position: absolute;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    transition: background-color 0.2s ease-in-out;
    cursor: default;
    z-index: 10000;
    position: relative;

    &:hover {
      background-color: var(--app-primary-color);
    }
  }

  &__topbar {
    background-color: transparent;
    > div {
      z-index: 1000;

      &:hover {
        background-color: #ff5f57;
      }

      &:active {
        background-color: #e0443e;
      }
    }
  }

  &__artwork {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 325px;
    height: 325px;
    max-width: 325px;
    max-height: 325px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // disable drag
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
    }
  }
}
