:root {
  --editorial-notes-color: #78787a;
}

:root[data-theme='dark'] {
  --editorial-notes-color: #b3b3b9;
}

.editorialNotes {
  color: var(--editorial-notes-color);
  margin-inline: 1.5rem;
  margin-top: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@container main (max-width: 360px) {
  .editorialNotes {
    font-size: 0.8rem;
  }
}

@container main (max-width: 540px) {
  .editorialNotes {
    font-size: 0.9rem;
  }
}
