@import '../../styles/mixins/font-mixins.scss';

.chip {
  @include font-style(0.75rem);
  display: inline-block;
  padding: $padding-xxsmall $padding-xsmall;
  border-radius: 0.25rem;
  background-color: #e0e0e0;
  color: #000;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: background-color $transition-fast ease-in-out;
}
