@import '../../styles/mixins/mixins';

$artist-item-artwork-size: 150px;

.artistItem {
  @include flex-layout(column, center, center, 10px);

  &:hover {
    .artistItem__artwork__container__overlay {
      opacity: 1;
    }
  }

  &__artwork__container {
    position: relative;

    &__artwork {
      min-width: $artist-item-artwork-size;
      min-height: $artist-item-artwork-size;
      border-radius: 50%;
    }

    &__overlay {
      @include absolute-full();
      border-radius: 50%;
      opacity: 0;
      transition: opacity $transition-fast ease-in-out;
      background-color: $color-overlay-bg;
    }
  }

  &__name {
    align-self: center;
    text-align: center;
  }
}
