@import '../../styles/mixins/mixins';

$artist-item-artwork-size: 150px;

.artist-item {
  @include flex-layout(column, flex-start, center, 10px);

  &__artwork__container {
    position: relative;

    &__artwork {
      min-width: $artist-item-artwork-size;
      min-height: $artist-item-artwork-size;
      border-radius: 50%;
    }
  }

  &__name {
    align-self: center;
    text-align: center;
  }

  &:hover {
    .artist-item__artwork__container__overlay {
      opacity: 1;
    }
  }
}
