.songItem {
  display: flex;
  flex-direction: row;
  min-width: 250px;
  height: 60px;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  border-radius: var(--app-border-radius);
  justify-content: space-between;
  position: relative;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);

    .songItem__artwork__container__overlay {
      opacity: 1;
    }

    .songItem__actions__addToLibrary {
      display: flex;
    }
  }

  &__artwork__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &__overlay {
      border-radius: var(--app-border-radius);
      position: absolute;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 50px;
      height: 50px;
      transition: opacity 0.2s ease-in-out;

      &__playButton {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }

  &__artwork {
    margin-right: 0.8rem;

    img {
      border-radius: var(--app-border-radius);
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 0.8rem;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: max-content;
      width: 100%;

      &:hover {
        text-decoration: underline;
        cursor: default;
      }
    }

    &__artist {
      color: var(--app-text-light-color);
      font-size: 0.7rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: max-content;
      width: 100%;

      &:hover {
        text-decoration: underline;
        cursor: default;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;

    &__addToLibrary {
      display: none;
      margin-right: 0.8rem;
    }

    &__moreButton {
      margin-right: 0.2rem;
    }
  }
}
