:root {
  --color-player-button: #000;
  --color-player-button-hover: #2c2c2c;
  --color-player-button-active: #444;
  --vibrant-divider: rgb(0 0 0 / 19%);
  --progress-color: #000;
}

:root[theme='dark'] {
  --color-player-button: #e7e7e7;
  --color-player-button-hover: #fff;
  --color-player-button-active: #e1e1e1;
  --vibrant-divider: rgb(235 235 245 / 19%);
  --progress-color: #fff;
}

.misc-controls {
  display: flex;
  flex-direction: row;
  position: relative;

  &__progress {
    display: flex;
    position: absolute;
    left: -850%;
    top: -15%;
    color: var(--color-on-primary);
  }

  &__volume {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__button {
    width: 20px;
    height: 20px;
    border-radius: $app-border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    fill: var(--color-player-button);
    color: var(--color-player-button);
    cursor: default;

    &:hover {
      fill: var(--color-player-button-hover);
      color: var(--color-player-button-hover);
    }

    &:active {
      fill: var(--color-player-button-active);
      color: var(--color-player-button-active);
    }
  }

  &__volume-slider {
    appearance: none;
    background: linear-gradient(
      90deg,
      var(--progress-color) var(--progress),
      var(--vibrant-divider) var(--progress),
      var(--vibrant-divider)
    );
    height: 5px;
    border-radius: 10px;
    margin-right: 100px;
    width: 70px;

    &::-webkit-slider-thumb {
      opacity: 0;
    }
  }
}

@media screen and (width <= 575px) {
  .misc-controls {
    &__progress {
      display: none;
    }
  }
}
