:root {
  --color-player-button: #000000;
  --color-player-button-hover: #2c2c2c;
  --color-player-button-active: #444444;
  --vibrant-divider: rgba(0, 0, 0, 0.19);
  --progress-color: #000000;
}

:root[theme='dark'] {
  --color-player-button: #e7e7e7;
  --color-player-button-hover: #fff;
  --color-player-button-active: #e1e1e1;
  --vibrant-divider: rgba(235, 235, 245, 0.19);
  --progress-color: #ffffff;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &__progress {
    input[type='range'] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: linear-gradient(
        90deg,
        var(--progress-color) var(--progress),
        var(--vibrant-divider) var(--progress),
        var(--vibrant-divider)
      );
      height: 3px;

      &::-webkit-slider-thumb {
        opacity: 0;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;

    &__button {
      width: 30px;
      height: 30px;
      border-radius: $app-border-radius;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem;
      fill: var(--color-player-button);
      color: var(--color-player-button);
      cursor: default;

      &:hover {
        fill: var(--color-player-button-hover);
        color: var(--color-player-button-hover);
      }

      &:active {
        fill: var(--color-player-button-active);
        color: var(--color-player-button-active);
      }
    }
  }
}
