:root {
  --queue-button-background-color: transparent;
  --queue-button-hover-background-color: rgb(0 0 0 / 20%);
  --queue-button-active-background-color: rgb(0 0 0 / 40%);
  --queue-scrollbar-background-color: rgb(255 255 255 / 20%);
  --queue-scrollbar-thumb-background-color: rgb(255 255 255 / 40%);
  --queue-drag-border-color: rgb(255 255 255 / 60%);
  --queue-autoplay-enabled-color: #136f63;
  --queue-item-text-color: #000;
  --queue-item-text-color-light: #696969;
}

:root[theme='dark'] {
  --queue-button-background-color: transparent;
  --queue-button-hover-background-color: rgb(255 255 255 / 20%);
  --queue-button-active-background-color: rgb(255 255 255 / 40%);
  --queue-scrollbar-background-color: rgb(255 255 255 / 10%);
  --queue-scrollbar-thumb-background-color: rgb(255 255 255 / 30%);
  --queue-item-text-color: #fff;
  --queue-item-text-color-light: #696969;
}

.queue {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - $app-footer-height - 3.3rem);

  &-content {
    overflow-y: auto !important;
  }

  &-up-next {
    padding-inline: 1rem;
    margin-bottom: 0.2rem;
  }

  &-queue {
    padding-inline: 1rem;
    margin-block: 0.2rem;
  }

  &-item {
    border: 2px solid transparent;
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.5rem;
    padding-inline: 1rem;
    padding-bottom: 0.4rem;

    &-clear {
      cursor: default;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      padding-inline: 1.4rem;
      color: var(--queue-item-text-color);
      background-color: var(--queue-button-background-color);

      &:hover {
        background-color: var(--queue-button-hover-background-color);
      }

      &:active {
        background-color: var(--queue-button-active-background-color);
      }
    }

    &-autoplay-button {
      cursor: default;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background-color: var(--queue-button-background-color);

      &:hover {
        background-color: var(--queue-button-hover-background-color);
      }

      &:active {
        background-color: var(--queue-button-active-background-color);
      }
    }
  }
}

.drop-target-top {
  border-top: 2px solid var(--queue-drag-border-color);
}

.drop-target-bottom {
  border-bottom: 2px solid var(--queue-drag-border-color);
}
