:root {
  --queue-button-background-color: transparent;
  --queue-button-hover-background-color: rgba(0, 0, 0, 0.2);
  --queue-button-active-background-color: rgba(0, 0, 0, 0.4);

  --queue-scrollbar-background-color: rgba(255, 255, 255, 0.2);
  --queue-scrollbar-thumb-background-color: rgba(255, 255, 255, 0.4);
  --queue-drag-border-color: rgba(255, 255, 255, 0.6);
}

:root[theme='dark'] {
  --queue-button-background-color: transparent;
  --queue-button-hover-background-color: rgba(255, 255, 255, 0.2);
  --queue-button-active-background-color: rgba(255, 255, 255, 0.4);

  --queue-scrollbar-background-color: rgba(255, 255, 255, 0.1);
  --queue-scrollbar-thumb-background-color: rgba(255, 255, 255, 0.3);
}

.queue {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--app-footer-height) - 1.3rem);

  &__content {
    overflow-y: overlay;

    &::-webkit-scrollbar {
      background-color: var(--queue-scrollbar-background-color) !important;
      z-index: 999;
      width: 8px;
      border-radius: 4px;

      &-thumb {
        background-color: var(--queue-scrollbar-thumb-background-color) !important;
        border-radius: 4px;
      }
    }
  }

  &__upNext {
    padding-inline: 1rem;
    margin-bottom: 0.2rem;
  }

  &__queue {
    padding-inline: 1rem;
    margin-block: 0.2rem;
  }

  &__item {
    border: 2px solid transparent;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 1rem;
    padding-bottom: 0.4rem;

    &__clear {
      cursor: default;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      padding-inline: 1.4rem;
      background-color: var(--queue-button-background-color);

      &:hover {
        background-color: var(--queue-button-hover-background-color);
      }

      &:active {
        background-color: var(--queue-button-active-background-color);
      }
    }

    &__autoplayButton {
      cursor: default;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 5px;
      background-color: var(--queue-button-background-color);

      &:hover {
        background-color: var(--queue-button-hover-background-color);
      }

      &:active {
        background-color: var(--queue-button-active-background-color);
      }
    }
  }
}

.dropTargetTop {
  border-top: 2px solid var(--queue-drag-border-color);
}

.dropTargetBottom {
  border-bottom: 2px solid var(--queue-drag-border-color);
}
