:root {
  --color-mini-player-button: #e7e7e7;
  --color-mini-player-button-hover: #fff;
  --color-mini-player-button-active: #e1e1e1;
  --vibrant-divider-mini: rgba(235, 235, 245, 0.19);
  --progress-mini-color: #ffffff;
}

.player {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 300px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: var(--app-border-radius);
  border-bottom-right-radius: var(--app-border-radius);
  overflow: hidden;

  &__progress {
    input[type='range'] {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: linear-gradient(
        90deg,
        var(--progress-mini-color) var(--progress),
        var(--vibrant-divider-mini) var(--progress),
        var(--vibrant-divider-mini)
      );
      height: 4px;

      &::-webkit-slider-thumb {
        opacity: 0;
      }
    }

    &__time__current {
      position: absolute;
      top: 2px;
      left: 0;
      font-size: 0.7rem;
      color: var(--color-white);
      padding-inline: 0.3rem;
      margin-top: 0.3rem;
    }

    &__time__total {
      position: absolute;
      top: 2px;
      right: 0;
      font-size: 0.7rem;
      color: var(--color-white);
      padding-inline: 0.3rem;
      margin-top: 0.3rem;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin-top: 15px;
      gap: 5px;
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      &__left {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 12px;
        left: 12px;
      }

      &__misc {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 12px;
        right: 12px;
      }

      &__title {
        padding-inline: 0.3rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--color-white);
        text-align: center;
        margin-top: 0.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }

      &__artist {
        padding-inline: 0.3rem;
        font-size: 0.8rem;
        font-weight: 400;
        color: #b3b3b3;
        text-align: center;
        margin-bottom: 0.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
      }

      &__volume {
        display: flex;
        flex-direction: row;
        margin-top: 0.1rem;
        margin-left: -10px;

        &__button {
          width: 10px;
          height: 10px;
          margin-top: -5px;
          margin-right: 10px;
          color: var(--color-white);
          cursor: default;

          &:hover {
            fill: var(--color-mini-player-button-hover);
            color: var(--color-mini-player-button-hover);
          }

          &:active {
            fill: var(--color-mini-player-button-active);
            color: var(--color-mini-player-button-active);
          }
        }

        &__slider {
          -webkit-appearance: none;
          appearance: none;
          background: linear-gradient(
            90deg,
            var(--progress-mini-color) var(--progress),
            var(--vibrant-divider-mini) var(--progress),
            var(--vibrant-divider-mini)
          );
          height: 5px;
          border-radius: 10px;
          width: 70px;

          &::-webkit-slider-thumb {
            opacity: 0;
          }
        }
      }
    }

    &__button {
      width: 30px;
      height: 30px;
      border-radius: var(--app-border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem;
      fill: var(--color-white);
      color: var(--color-white);
      cursor: default;

      &:hover {
        fill: var(--color-mini-player-button-hover);
        color: var(--color-mini-player-button-hover);
      }

      &:active {
        fill: var(--color-mini-player-button-active);
        color: var(--color-mini-player-button-active);
      }
    }
  }
}
