@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-toolbar-height: 40px;
  --app-sidebar-width: 200px;
  --app-border-radius: 8px;
  --app-primary-color: #669091;
  --app-primary-color-hover: #90c5c7;
  --app-primary-color-active: #628a8d;
  --app-text-color: #000;
  --app-footer-height: 70px;
  --app-left-sidebar-background-color: #f2f2f2;
  --app-background-color: #fff;
  --app-background-light-color: #f7f7f8;
  --app-footer-background-color: #f4f4f4;
  --app-searchbar-background-color: #bdbdbd;
  --app-text-light-color: #838383;
  --app-active-color: rgba(0, 0, 0, 0.2);
  --app-scrollbar-background-color: #e4e4e4;
  --app-scrollbar-thumb-background-color: #c7c7c7;

  --color-white: #f7f7f8;
}

:root[theme='dark'] {
  --app-text-color: #000;
  --app-left-sidebar-background-color: #2b2a2a;
  --app-background-color: #070707;
  --app-background-light-color: #252525;
  --app-footer-background-color: #050505;
  --app-searchbar-background-color: #f4f4f4;
  --app-text-color: #fff;
  --app-text-light-color: #838383;
  --app-active-color: rgba(255, 255, 255, 0.2);
  --app-scrollbar-background-color: #222222;
  --app-scrollbar-thumb-background-color: #41424c;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--app-background-color);
  user-select: none;
  overflow-x: hidden;
  font-size: 16px;
}

.appContainer[right-drawer='true'] .main {
  right: 250px !important;
}

.active {
  background-color: var(--app-active-color) !important;
}

.hidden {
  display: none;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  font-size: 1.25rem;
}

h4 {
  font-weight: 600;
  font-size: 1rem;
}

.expanded {
  -webkit-line-clamp: unset !important;
}

.accordion__content--open {
  max-height: 500px !important;
  opacity: 1 !important;
}

::-webkit-scrollbar {
  background-color: var(--app-scrollbar-background-color);
  z-index: 999;
  width: 8px;
  border-radius: 4px;

  &-thumb {
    background-color: var(--app-scrollbar-thumb-background-color);
    border-radius: 4px;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.linkItemContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  padding: 1.5rem;
}
