@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-toolbar-height: 40px;
  --app-sidebar-width: 200px;
  --app-border-radius: 8px;
  --app-primary-color: #7dadaf;
  --app-text-color: #000;
  --app-footer-height: 70px;
  --app-left-sidebar-background-color: #f2f2f2;
  --app-background-color: #fff;
  --app-footer-background-color: #f4f4f4;
  --app-searchbar-background-color: #bdbdbd;
  --app-text-color: #000;
  --app-text-light-color: #838383;

  --color-white: #f7f7f8;
}

:root[theme='dark'] {
  --app-text-color: #000;
  --app-left-sidebar-background-color: #2b2a2a;
  --app-background-color: #070707;
  --app-footer-background-color: #050505;
  --app-searchbar-background-color: #f4f4f4;
  --app-text-color: #fff;
  --app-text-light-color: #838383;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--app-background-color);
  user-select: none;
  overflow-x: hidden;
  font-size: 16px;
}

.appContainer[right-drawer='true'] .main {
  right: 250px !important;
}

.active {
  background-color: #bdbdbd;
}

:root[theme='dark'] .active {
  background-color: #696969;
}

.hidden {
  display: none;
}
