.window-buttons {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;

  .window-buttons-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.window-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  z-index: 99;

  &:active {
    background-color: #d1d1d1;
  }

  &:hover {
    background-color: #e1e1e1;
  }

  &:nth-child(1) {
    &:hover {
      background-color: #ff5f57;
    }

    &:active {
      background-color: #e0443e;
    }
  }
}
