@use '../variables';

@mixin settings-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@mixin settings-button {
  width: auto;
  height: auto;
  padding: 0.4rem;
  border-radius: $app-border-radius;
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-active);
  }
}
