:root {
  --color-accordion-background: #e4e4e4;
  --color-accordion-hover: #f3f3f3;
  --color-accordion-background: #e4e4e4;
  --color-accordion-title-text: #444;
}

:root[theme='dark'] {
  --color-accordion-background: #252525;
  --color-accordion-hover: #363636;
  --color-accordion-title-background: #252525;
  --color-accordion-title-text: #fff;
}

.accordion {
  background-color: var(--color-accordion-background);
  border-radius: $app-border-radius;
  margin-bottom: 1rem;
  font-size: 0.9rem;

  &__title {
    border-radius: $app-border-radius;
    width: 100%;
    background-color: var(--color-accordion-title-background);
    color: var(--color-accordion-title-text);
    padding: 18px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: default;

    &:focus-visible {
      background-color: var(--color-accordion-hover);
    }

    &:hover {
      background-color: var(--color-accordion-hover);
      transition: background-color 0.2s ease-in-out;
    }
  }

  &__content {
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;

    &--open {
      max-height: 500px;
      opacity: 1;
      visibility: visible;
    }
  }
}
