@import '../../styles/mixins/mixins';

$color-accordion-bg: #e4e4e4;
$color-accordion-bg-hover: color.adjust($color-accordion-bg, $lightness: -5%);
$accordion-max-height: 99999px;
$color-accordion-bg-dark: #252525;
$color-accordion-bg-hover-dark: color.adjust($color-accordion-bg-dark, $lightness: 5%);

:root {
  --color-accordion-bg: #{$color-accordion-bg};
  --color-accordion-hover: #{$color-accordion-bg-hover};
}

:root[theme='dark'] {
  --color-accordion-bg: #{$color-accordion-bg-dark};
  --color-accordion-hover: #{$color-accordion-bg-hover-dark};
}

.accordion {
  background-color: var(--color-accordion-bg);
  border-radius: $app-border-radius;
  margin-bottom: $margin-small;
  font-size: $font-size-small;

  &__title {
    border-radius: $app-border-radius;
    width: 100%;
    color: var(--color-on-main);
    padding: $padding-small;
    position: relative;
    text-align: left;

    @include flex-layout(row, space-between, center);

    &:focus-visible {
      background-color: var(--color-accordion-hover);
    }

    &:hover {
      background-color: var(--color-accordion-hover);
      transition: background-color $transition-fast ease-in-out;
    }
  }

  &__content {
    visibility: hidden;
    overflow: hidden;
    transition: max-height $transition-fast ease-in-out, opacity $transition-fast ease-out;
    max-height: 0;
    opacity: 0;

    &--open {
      max-height: $accordion-max-height;
      opacity: 1;
      visibility: visible;
    }
  }
}
